

body{
    background-color: rgb(100, 100, 121);
    
}

#button1{
    background-color: aliceblue;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 120px;
    padding-right: 120px;
    text-decoration: none;
    color: black;
    margin-left: 41%;
    margin-top: 18%;
    text-align: center;
    position: absolute;
    border-radius: 25px;
    visibility: visible;
   
}

#shop{
    margin: 50px;
   /* background-color: aliceblue;*/
}

canvas{

    border: 1px solid #000000;
}

#offer {
    position: relative; 
   
}

#canvas2{
    position: absolute;
    left: 500px;;
    top: 150px;
    background-color: rgb(141, 141, 141);
   
}

#flavor{
    position: absolute;
    left: 500px;
    top: 60%;
    width: 300px;
    height: 30px;
    
}

#sauce{
    position: absolute;
    left: 500px;
    top: 65%;
    width: 448px;
    height: 30px;
    
}

#toppings{
    position: absolute;
    left: 500px;
    top: 70%;
    width: 448px;
    height: 30px;
  
}

#number{
    position: absolute;
    left: 808px;
    top: 60%;
    width: 140px;
    height: 30px;
  
}

#but2{
    background-color: aliceblue;
    text-decoration: none;
    color: black;
    text-align: center;
    position: absolute;
    border-radius: 25px;
    left: 620px;
    top: 75%;
    width: 200px;
    height: 60px;
    
}

h1{
    position: absolute;
    left: 600px;
    top: 75px;
    color: aliceblue;
    
}

#can1{
    position: absolute;
}

.hidden{
    display: none;
}

#list{
visibility: visible;
position: absolute;
top: 17%;
width: 380px;
height: 600px;
right: 10px;
padding: 20px;
background-color: rgb(69, 142, 184)
}

#flavorCanvas{
    position: absolute;
    position: absolute;
    left: 500px;;
    top: 150px;

}

#toppingCanvas{
    position: absolute;
    position: absolute;
    left: 500px;;
    top: 150px;

}

#money{
    left: 70px;
    top: 0px;
    font-size: 70px;
}