body{
    background-color: rgb(100, 100, 121);
}

#button1{
    background-color: aliceblue;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 120px;
    padding-right: 120px;
    text-decoration: none;
    color: black;
    margin-left: 41%;
    margin-top: 18%;
    text-align: center;
    position: absolute;
    border-radius: 25px;
   
}

#shop{
    margin: 50px;
    background-color: aliceblue;
}